/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.left-nav-links, .right-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.down-arrow-container {
  display: flex;
  justify-content: center; }

.instructors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.services-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.service-card {
  display: flex;
  justify-content: center; }

footer {
  display: flex;
  justify-content: center; }

.social-wrapper {
  display: flex;
  justify-content: space-around; }
  .social-wrapper a {
    margin: 7px; }

.small-nav {
  justify-content: space-around; }

@media only screen and (min-device-width: 768px) {
  .small-device-nav-link {
    display: block; } }

* {
  text-decoration: none; }

body {
  background-color: #fff; }

a {
  cursor: pointer;
  color: inherit; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: .8em; }

ul {
  list-style-type: none; }

.button {
  background-color: #E0142F;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 1% 3%;
  height: 40px;
  line-height: 40px;
  width: 150px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px; }
  .button:hover {
    background-color: #BF0426; }
  .button:active {
    box-shadow: none; }

.wrapper {
  position: relative; }

.sticky {
  position: fixed;
  top: 0; }

p {
  font-family: "Lora", serif; }

.main-header {
  background-color: #fff;
  width: 100%;
  z-index: 2; }

.main-nav {
  height: 130px; }

.small-nav {
  display: none; }

.small-device-nav-link {
  display: none; }

nav li {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 20px;
  color: #BF0426; }
  nav li:hover {
    background-color: #E0142F;
    color: black; }

.logo {
  width: auto;
  margin-left: 1%;
  margin-right: 1%;
  font-family: "Lora", serif;
  text-align: center; }

.hero-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 90% 1fr;
  margin-top: 130px;
  padding: 5%; }

.hero-content {
  text-align: center;
  line-height: 2em;
  font-family: "Open Sans", sans-serif; }
  .hero-content span {
    text-decoration: underline;
    color: #244276; }
  .hero-content .phone {
    color: #244276; }
  .hero-content .thirty {
    font-style: italic; }
  .hero-content .free {
    color: #BF0426;
    font-weight: 700; }

.video {
  width: 90%; }

.down-arrow-container {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 3%; }
  .down-arrow-container .down-arrow {
    color: #ddd; }
    .down-arrow-container .down-arrow:hover {
      color: #ccc; }

section {
  padding: 3% 2%; }
  section .section-heading {
    font-family: "Lora", serif;
    text-align: center;
    margin-bottom: 20px; }
  section p {
    margin-left: auto;
    margin-right: auto; }
  section .section-description {
    width: 40%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 4%; }

.about-us {
  background: linear-gradient(#ddd, 30%, #fff);
  padding-left: 2%;
  padding-right: 2%; }
  .about-us .section-heading {
    text-align: center; }
  .about-us .instructor-card {
    background: #fff;
    width: 200px;
    margin: 15px; }
    .about-us .instructor-card .instructor-card-details {
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 10%;
      line-height: 1.5em; }
  .about-us .instructor-name {
    text-transform: uppercase;
    padding: 8px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

.services .services-card-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.services .services-card {
  margin: 20px 30px;
  max-width: 200px;
  min-width: 200px;
  text-align: center; }
  .services .services-card .service-heading {
    text-transform: uppercase;
    padding: 8px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

.services .service-description {
  line-height: 1.5em; }

.services .learn-more {
  color: #BF0426;
  font-weight: 700; }

.studio-rental .studio-rental-reasons {
  text-align: center;
  list-style-type: square;
  width: 50%;
  text-align: left; }

.contact-us, .location {
  background-image: url(../images/agsquare/agsquare.png); }

.location .map {
  background-color: white;
  width: 80%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto; }

.contact-us form {
  display: grid;
  grid-column-gap: 1%;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
  .contact-us form #first-name, .contact-us form #last-name, .contact-us form #tel, .contact-us form #email {
    margin-top: 10px;
    padding: 10px; }
  .contact-us form #textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10px;
    width: 100%;
    padding: 10px; }

footer {
  background-color: #5F7C9C;
  padding: 80px; }
  footer a {
    color: white; }
  footer .footer-content {
    min-width: 40%; }
    footer .footer-content .social-wrapper {
      min-width: 30%; }
  footer .footer-heading {
    font-family: "Lora", serif;
    text-align: center;
    margin-bottom: 20px; }

@media only screen and (max-width: 1024px) {
  .main-nav {
    display: none; }
  .small-nav {
    display: flex;
    height: 130px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .small-nav .bars {
      padding: 40px; } }
