/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.left-nav-links, .right-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.instructors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.services-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.service-card {
  display: flex;
  justify-content: center; }

@media only screen and (min-device-width: 768px) {
  .small-device-nav-link {
    display: block; } }

* {
  text-decoration: none; }

a {
  cursor: pointer; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: .8em; }

ul {
  list-style-type: none; }

.wrapper {
  position: relative; }

.sticky {
  position: fixed;
  top: 0; }

body {
  /*background-image: url("../images/AdobeStock_78465714_Preview.jpeg");*/
  background-color: darkorange;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 130px; }

p {
  font-family: "Lora", serif; }

.main-header {
  background-color: white;
  width: 100%;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.main-nav {
  height: 130px; }

.small-device-nav-link {
  display: none; }

nav li {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 20px;
  color: orange; }
  nav li:hover {
    background-color: orange;
    color: black; }

.logo {
  width: auto;
  font-family: "Lora", serif;
  text-align: center; }

.hero-container {
  margin-top: 130px;
  width: 100%;
  padding: 5%; }

.video {
  width: 60%;
  filter: blur(0); }

section {
  margin-top: 20px;
  padding-left: 2%;
  padding-right: 2%; }
  section .section-heading {
    font-family: "Lora", serif;
    text-align: center;
    margin-bottom: 20px; }

.about-us {
  padding-left: 2%;
  padding-right: 2%; }
  .about-us .section-heading {
    text-align: center; }
  .about-us .instructor-card {
    margin: 15px; }
  .about-us .instructor-name {
    text-transform: uppercase;
    padding: 8px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

.services .services-card-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.services .services-card {
  margin: 20px 30px;
  max-width: 200px;
  min-width: 200px;
  text-align: center; }
  .services .services-card .service-heading {
    text-transform: uppercase;
    padding: 8px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

.location .map {
  background-color: white;
  width: 80%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto; }

.contact-us form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
  .contact-us form #first-name, .contact-us form #last-name, .contact-us form #tel, .contact-us form #email {
    margin-top: 10px;
    padding: 10px; }
  .contact-us form #textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 10px;
    width: 100%; }
