.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}

.left-nav-links, .right-nav-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.instructors-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.services-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.service-card {
	display: flex;
	justify-content: center;
}






