@import 'reset', 'flexbox';
@import 'media-queries';

$Lora: 'Lora', serif;
$Os: 'Open Sans', sans-serif;
$shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

* {
	text-decoration: none;
}

a {
	cursor: pointer;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

ul {
  list-style-type: none;
}

.wrapper {
	position: relative;
}

.sticky {
  position: fixed;
  top: 0;  
}

body {
	/*background-image: url("../images/AdobeStock_78465714_Preview.jpeg");*/
	background-color: darkorange;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 130px;
}

p {
	font-family: $Lora;
}

.main-header {	
	background-color: white;	
	width: 100%;
	z-index: 2;
	box-shadow: $shadow1;
}

.main-nav {
	height: 130px;	
}

.small-device-nav-link {
	display: none;
}

nav li {
	font-family: $Os;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 20px;
	color: orange;

	&:hover{
		background-color: orange;
		color: black;
	}
}

.logo {
	width: auto;
	font-family: $Lora;
	text-align: center;
}

.hero-container {	
	margin-top: 130px;	
	width: 100%;
	padding: 5%;    
}

.video {
	width: 60%;
	filter: blur(0); 
}

section {
	margin-top: 20px;
	padding-left: 2%;
	padding-right: 2%;

	.section-heading {
		font-family: $Lora;
		text-align: center;
		margin-bottom: 20px;
	}	
}


.about-us {
	.section-heading {		
		text-align:center;
	}

	.instructor-card {
		margin: 15px;

	}

	.instructor-name {
		text-transform: uppercase;
		padding: 8px 0px;
		font-family: $Os;
		font-weight: 700;
	}
}

.services {
	.services-card-container {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	.services-card {
		margin: 20px 30px;
		max-width: 200px;
		min-width: 200px;		
		text-align: center;

		.service-heading {
			text-transform: uppercase;
			padding: 8px 0px;
			font-family: $Os;
			font-weight: 700;
		}
	}
}

.location {
	.map {
		background-color: white;
		width: 80%;
		padding: 2%;
		margin-left: auto;
		margin-right: auto;
	}
}





