@import 'reset', 'flexbox';
@import 'media-queries';

$Lora: 'Lora', serif;
$Os: 'Open Sans', sans-serif;
$shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

* {
	text-decoration: none;
}

a {
	cursor: pointer;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

ul {
  list-style-type: none;
}

.wrapper {
	position: relative;
}

.sticky {
  position: fixed;
  top: 0;  
}

body {
	/*background-image: url("../images/AdobeStock_78465714_Preview.jpeg");*/
	background-color: darkorange;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 130px;
}


.main-header {	
	background-color: white;	
	width: 100%;
	z-index: 2;
	box-shadow: $shadow1;
}

.main-nav {
	height: 130px;	
}

nav li {
	font-family: $Os;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 20px;
	color: orange;

	&:hover{
		background-color: orange;
		color: black;
	}
}

.logo {
	width: auto;
	font-family: $Lora;
	text-align: center;
}

.hero-container {
	
	margin-top: 130px;	
	width: 100%;
	padding: 5%;    
}

.video {
	width: 60%;
	filter: blur(0); 
}


.small-device-nav-link {
	display: none;
}

.section-heading {
	font-family: $Lora;
}

