@import 'reset';
@import 'flexbox';
@import 'media-queries';


$Lora: 'Lora', serif;
$Os: 'Open Sans', sans-serif;
$shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

$red1: #BF0426;
$red2: #E0142F;
$blue1: #244276;
$blue2: #5F7C9C;
$white1: #F2F2F2;


* {
	text-decoration: none;
}

body {
	background-color: #fff;
}

a {
	cursor: pointer;
	color: inherit;	
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

ul {
  list-style-type: none;
}

.button {
	background-color: $red2;
	color: white;
	font-family: $Os;
	text-transform: uppercase;
	padding: 1% 3%;
	height: 40px;
	line-height: 40px;

	width: 150px;
	text-align: center;
	box-shadow: $shadow1;
	border-radius: 4px;

	&:hover {
		background-color: $red1;
	}

	&:active {
		box-shadow: none;
	}
}

.wrapper {
	position: relative;
}

.sticky {
  position: fixed;
  top: 0;  
}


p {
	font-family: $Lora;
}

.main-header {	
	background-color: #fff;	
	width: 100%;
	z-index: 2;
}

.main-nav {
	height: 130px;	
}

.small-nav {
	display: none;
}

.small-device-nav-link {
	display: none;
}

nav li {
	font-family: $Os;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 20px;
	color: $red1;

	&:hover{
		background-color: $red2;
		color: white;
	}
}

.logo {
	width: auto;
	margin-left: 1%;
	margin-right: 1%;
	font-family: $Lora;
	text-align: center;
}

.hero-container {
	display:grid;	
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 90% 1fr;
	margin-top: 130px;	
	padding: 2%;    
}

.hero-content {
	text-align: center;
	line-height: 2em;	
	font-family: $Os;

	span {
		text-decoration: underline;
		color: $blue1;

	}

	.phone {
		color: $blue1;
	}

	.thirty {
		font-style: italic;
	}

	.free {
		color: $red1;
		font-weight: 700;
	}	
}

.video {
	width: 90%;	
}

.down-arrow-container {
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 3%;

	.down-arrow {
		color: #ddd;

		&:hover {
			color: #ccc;
		}				
	}
}

section {
	padding: 3% 2%;

	.section-heading {
		font-family: $Lora;
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		margin-left: auto;
		margin-right: auto;
	}

	.section-description {
		width: 40%;
		text-align: center;
		margin-top: 3%;
		margin-bottom: 4%;	
	}	
}


.about-us {

	background: linear-gradient(#ddd, 30%, #fff);


	padding-left: 2%;
	padding-right: 2%;

	.section-heading {		
		text-align:center;
	}

	.instructor-card {
		
		background: #fff;
		width: 200px;
		margin: 15px;

		.instructor-card-details {
			padding-left: 5%;
			padding-right: 5%;
			padding-bottom: 10%;
			line-height: 1.5em;
		}
	}

	.instructor-name {
		color: $blue1;
		text-transform: uppercase;
		padding: 8px 0px;
		font-family: $Os;
		font-weight: 700;
	}
}

.services {
	.services-card-container {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	.services-card {
		margin: 20px 30px;
		max-width: 200px;
		min-width: 200px;		
		text-align: center;

		.service-heading {
			text-transform: uppercase;
			padding: 8px 0px;
			font-family: $Os;
			font-weight: 700;
		}
	}

	.service-description {
		line-height: 1.5em;
	}

	.learn-more {
		color: $red1;
		font-weight: 700;
	}
}

.studio-rental {

	background-color: $red1;

	.studio-rental-reasons {
		text-align: center;
		font-family: $Os;
		line-height: 1.5em;

	}
	
}

.contact-us, .location {
	background-image: url(../images/agsquare/agsquare.png);
}

.location {

	.map {
		background-color: white;
		width: 80%;
		padding: 2%;
		margin-left: auto;
		margin-right: auto;
	}

	.address {
		text-align: center;
		line-height: 1.8em;

		.address-heading {
			margin: 30px 0px;
		}

		address {
			font-size: 1.1em;
		}
	}

}

.hours {
	
	line-height: 1.4em;	
	
	table {
		font-size: 1.2em;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		width: auto;

		tr:nth-child(even){background-color: #f2f2f2;}

		.last-lesson-booked {
			font-style: italic;
			font-weight: 700;
		}

		th {
			font-weight: 700;
		}

		td, th {
			
    		padding: 8px;
		}
	}	
}

.contact-us {
	form {

		display: grid;
		grid-column-gap:1%;
		
		grid-template-columns: 1fr 1fr;
		margin-left: auto;
		margin-right: auto;
		width: 50%;

		#first-name, #last-name, #tel, #email {
			margin-top: 10px;
			padding: 10px;			
		}

		#textarea {
			grid-column-start: 1;
			grid-column-end: 3;
			margin-top: 10px;
			width: 100%;
			padding: 0;
		}

		#submit {
			margin-top: 15px;
			width: 100px;
			background-color: $red2;
			border: 0;
			padding: 10px;
			color: white;
			border-radius: 4px;
			box-shadow: $shadow1;

			&:hover {
				background-color: $red1;
			}
		}
		
	}
}

.address {	

	address .directions {
		font-style: italic;
	}
}


footer {
	
	background-color: $blue2;
	padding: 80px;	

	a {
		color: white;
	}

	.footer-content {

		min-width: 40%;

		.social-wrapper {
			min-width: 30%;
		}
	}

	.footer-heading {
		font-family: $Lora;
		text-align: center;
		margin-bottom: 20px;
	}
	
}

.copyright {
	height: 60px;
}

@media only screen and (max-width: 1024px) {
		
	h1 { font-size: 2.4em; }
	h2 { font-size: 2em; }
	h3 { font-size: 1.44em; }
	h4 { font-size: 1.12em; }
	h5 { font-size: 1em; }
	h6 { font-size: .8em; }

    .main-nav {
    	display: none;
    }

    .small-nav {
    	display: flex;
    	height: 90px;
    	flex-direction: row;
    	justify-content: space-between;
    	align-items: center;

    	.spacer {
    		padding: 35px;
    	}

    	.bars {    		
    		padding: 35px;
    	}
    }

    .hero-container {
    	display: flex;
    	flex-direction: column;
    	margin-top: 90px;
    	padding: 2%;		
		align-items: center;

    	.video {
    		width: 100%;
    	}

    	.hero-content {
    		padding: 5%;
    		width: 60%;
    		min-height: 400px;
    	}    	
    }

    .contact-us form {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	width: 50%;

    	#first-name, #last-name, #tel, #email, #textarea {
    		width: 100%;
    	}

    	#textarea {
    		padding: 10px;
    	}

    	#submit {
    		width: 140px;
    	}
    }

}